html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #333;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.nickButton{
  position:absolute;
  top: 60%;
  left: 40%;
}

.highscore{
  position:absolute;
  top: 65%;
  left: 44%;
}

.KIimg{
  position: absolute;
  top : 0;
  left : 0;
}